<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzkj.schedule.dao.JobDao">

  <resultMap id="BaseResultMap" type="com.bzkj.entity.JobEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="userId" />
    <result column="job_group" jdbcType="VARCHAR" property="age" />
    <result column="cron" jdbcType="VARCHAR" property="createTime" />
    <result column="parameter" jdbcType="VARCHAR" property="creator" />
    <result column="description" jdbcType="VARCHAR" property="eId" />
    <result column="vm_param" jdbcType="VARCHAR" property="locked" />
    <result column="jar_path" jdbcType="VARCHAR" property="loginName" />
    <result column="status" jdbcType="VARCHAR" property="userName" />
  </resultMap>

</mapper>